.pageWrapper {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.sidebar {
    width: 250px;
    padding: 1rem;
    border: 2px solid #A1A1A1;
    border-radius: 12px;
    height: fit-content;
}

.category {
    display: flex;
    flex-direction: column;
}

.sidebarTitle {
    font-size: 24px;
    font-weight: 700;
    margin: 1.5rem 0 1rem;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    gap: 0.5rem;
    font-size: 24px;
    font-weight: 500;
    color: #5C5C5C;
}

.checkboxLabel input[type="checkbox"] {
    width: 1em;
    height: 1em;
}


.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.searchWrapper {
    margin-bottom: 1.5rem;
}

.searchInput {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #A1A1A1;
    border-radius: 8px;
    font-size: 16px;
}

.pageTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.courseList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.courseCard {
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.courseTitle {
    font-size: 22px;
    font-weight: bold;
    margin-top: 1rem;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.5rem;
}

.code {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 0.5rem;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.cartIcon {
    font-size: 1.5rem;
    cursor: pointer;
}

.detailBtn {
    background-color: #0043CC;
    color: white;
    padding: 0.3rem 1.2rem;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 834px) {
    .pageWrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .category {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebarTitle {
        font-size: 16px;
        margin: 1rem 0 1rem;
    }

    .checkboxLabel {
        margin-bottom: 0;
        font-size: 18px;
    }

    .pageTitle {
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .courseList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }

    .courseCard {
        padding: 0.5rem;
        height: 100%;
    }

    .imageWrapper {
        height: 250px;
    }

    .courseTitle {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0.5rem;
    }

    .price {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0.5rem;
    }

    .code {
        font-size: 14px;
        color: gray;
        margin-bottom: 0.25rem;
    }

    .actions {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .cartIcon {
        font-size: 20px;
    }

    .detailBtn {
        padding: 0.3rem 1.2rem;
        font-size: 16px;
        font-weight: bold;
    }
}

@media (max-width: 500px) {
    .pageWrapper {
        padding: 1rem;
    }

    .group {
        display: flex;
        justify-content: space-around;
    }

    .category {
        flex-direction: column;
    }

    .sidebarTitle {
        font-size: 12px;
        margin: 1rem 0 1rem;
    }

    .checkboxLabel {
        margin-bottom: 0;
        font-size: 18px;
    }

    .pageTitle {
        font-size: 24px;
        margin-bottom: 0.5rem;
    }

    .courseList {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap: 0.5rem;
    }

    .courseCard {
        padding: 0.25rem;
        height: 100%;
    }

    .imageWrapper {
        height: 250px;
    }

    .courseTitle {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0.5rem;
    }

    .price {
        font-size: 14px;
        font-weight: bold;
        margin-top: 0.5rem;
    }

    .code {
        font-size: 12px;
        color: gray;
        margin-bottom: 0.2rem;
    }

    .actions {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    .cartIcon {
        font-size: 18px;
    }

    .detailBtn {
        padding: 0.3rem 1rem;
        font-size: 14px;
        font-weight: bold;
    }
}