.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.auth-container {
    background-color: #ffffff;
    padding: 2rem;
    max-width: 500px;
    margin: auto auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;
  }
  
  .auth-logo {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  
  .auth-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .auth-label {
    font-family: 'Sukhumvit Set', sans-serif;
    font-weight: 600;
    font-size: 15px;
  }  
  
  .auth-input {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
  }

  .auth-input::placeholder {
    color: #C9C9C9;
    opacity: 1;
    font-weight: 500;
  }
  

  .forgot-password {
    text-align: right;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
  }
  
  .forgot-password button {
    font-size: 14px;
    font-weight: 700;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-family: inherit;
  }
  
  .forgot-password button:hover {
    text-decoration: underline;
  }
  
  .auth-button {
    width: 100%;
    padding: 0.6rem;
    background-color: #0043CC;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.2s ease;
  }
  
  .auth-button:hover {
    background-color: #0033aa;
  }

  .auth-button:active {
    transform: scale(.95);
  }  
  
  .auth-message {
    margin-top: 0.75rem;
    text-align: center;
    font-size: 0.85rem;
  }
  
  .terms {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: red;
    margin-bottom: 1rem;
    line-height: 1.4;
    padding: 0 0.5rem;
  }
  
  .terms input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .switch-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 700;
  }
  
  .switch-link a {
    margin-left: 6px;
    color: #0043cc;
    text-decoration: none;
  }
  
  .switch-link a:hover {
    text-decoration: underline;
  }
  